
.wrap-nav{
    width: 100%;
    height: 70px;
    background-color:#2c216f ;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}
.wrap-inter{
    width: 95%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-form-item{
    width: fit-content;
    height: 100%;
    margin-right: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
  
    font-weight: 200;
  
}
.text-phone{
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
  
    font-weight: 200;   
}
.nav-inter-item{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.9em;
  
    font-weight: 200;  
}
.speration{
    width: 15%;
}
.icon-nav-formule{
    font-size: 20px;
    color: white;
 
    
}
.circle{
    width: 25px;
    height: 25px;
    border-radius: 20px 20px 20px 20px;
    background-color:#ed1c24;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;

}
@media screen and (max-width:1000px) {
   .wrap-inter{
       display: flex;
       flex-direction: column;
       height: auto;
   } 
   .wrap-nav{
       height: auto;
   }
   .nav-form-item{
       width: 95%;
       border: 1px hidden white;
       height: fit-content;
       display: flex;
       justify-content: flex-start;
       align-items: flex-start;
       border: 1px hidden red;
       margin-bottom: 5px;
   }
   .nav-inter-item{
       width: 100%;
  
       display: flex;
       justify-content: flex-start;
   }
}