*{
    font-family: 'Montserrat', sans-serif;
}
.principal-formulaire{
    background-color: rgb(243,243,243);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.text-calcul {
    font-size: 1vw;
    width: 70%;
    margin-bottom: 50px;
    margin-top: 50px;
    
}

.wrap-formulaire{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    height: auto;
}
.les-champs-de-calcul{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    width: 80%;
}
.calcul-bloc{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
 
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
   
}
.calcul-montant{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    
    background-color: white;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    margin-left: 10px;
    position: fixed;
    top: 100px;
    right: 0px;
    

}
.calcul-montant p{
    margin-top: 30px;
    margin-bottom: 30px;
    width: 90%;
}
.total-formulaire{
width: 90%;
height: 50px;
border: 1px solid lightgray;
border-radius: 5px 5px 5px 5px;
display: flex;
justify-content: space-between;
align-items: center;
margin-bottom: 50px;
padding-left: 5px;
padding-right: 5px;

}
.calcul-bloc-item{
    border-bottom: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.date-wrap{
display: flex;
margin-bottom: 20px;
width: 90%;

}
.text-conatiner{
    width: 90%;
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 300;
}
.date-input-style{
 
  border: none;
  border: 1px solid lightgray;
  border-radius: 5px 5px 5px 5px;
}
.inter-calcul-item{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 5px;
    padding-left: 5px;
    font-size: 12px;
    font-weight: 300;
   
}

/********************************************REMONTAGE DEMONTAGE***************************************/
.RMNTG{
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.title-RMNTG{
    width: 100%;
    font-size: 20px;
    font-weight: 100;
}
.content-RMNTG{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.input-RMNTG{
    
    width: 50px;
    cursor: text;
}
.text-RMNTG{
    width: 80%;
    font-size: 15pax;
    font-weight: 100;
}



/********************************STYLING BIG TITLES INSIDE CALCUL BLOC********************************/

.tit-big-first{
    width: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 50px;
    
}
.tit-big-second{
    width: 68.5%;
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    align-items: center;
    text-decoration: underline 2px #2c216f;
}

/**********************************************TOOL TIPS STYLING*********************************************/
.tooltip-styling{
    width: 200px;
    height: auto;
    display:none;
    font-size: 12px;
    color: lightgrey;
    background-color:#2c216f;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    text-align: left;
}
.tip-distance1:hover
 .tooltip-styling{
   display: flex;
   
}
.tooltip-styling-monte-meuble1{
    width: 200px;
    height: auto;
    display:none;
    font-size: 12px;
    color: lightgrey;
    background-color:#2c216f;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    text-align: left; 
}
.tip-mont-meuble1:hover
.tooltip-styling-monte-meuble1{
display: flex;
}
.tip-auton-01:hover .tooltip-styling-auton1{
display: flex;
}
.tooltip-styling-auton1{
    width: 200px;
    height: auto;
    display:none;
    font-size: 12px;
    color: lightgrey;
    background-color:#2c216f;
    position: absolute;
    padding: 5px;
    border-radius: 5px;
    text-align: left; 
}
/***********************************************YES NO CHECK BOX******************************************************/
.check-yes-no{
width: 90%;
display: flex;
justify-content: flex-start;
border:  1px hidden red;
}
/*****************************************VOLUM STYLING***************************************************/
.principale-titles{
    font-size: 24px;
}
.text-fomulaire{
    
    font-size: 18px;
    font-weight: 300;
}
.wrap-volum-items{
    border: 1px hidden red;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.input-vol{
    height: 45px;
 
    width: 100px;  
}
.volum-text{
    font-size: 10px;
    font-family: 400;
    width: 100%;
    
}
#volummanu{
    margin-right: 20px;
}
#volcalc{
    margin-right: 20px;  
}
.unit-vol{
    height: 100%;
    
    font-size:  18px;
}
.wrap-volum-items-inter{
    display: flex;
    width: 50%;
    justify-content: space-between;
    align-items: center;
}
/**********************************************************************************************/
input{
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
}
.address-input{
    width: 60%;
}
.select-ville{
   
    height: 45px;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;

}
.title{
        font-size: 12px;
        margin-top: 5px;
        height: 36px;
        width: 100%;
        border: 1px hidden red;
   
}
.title a{
    font-size: 12px;
   color: #2c216f;
  
}
.volum-input{
    width: 50%;
    display: flex;
    justify-content: space-between;

}
.btn-formule{
    background-color:#2c216f ;
    color: white;
    font-size: 15px;
    
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 5px 5px 5px 5px;
    width: 20%;
}
.btn-formule:hover{
    background-color:#514c74 ;
}
.width90{
    width: 80%;
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 1.7em;
}
.width90-2{
    width: 60%;
  
    margin-bottom: 50px;  
}
.width90-2-center{
    width: 80%;
    display: flex;
  
}
.input-commantaires{
    height: 200px;
    width: 500px;
    margin-bottom: 30px;
}
.center-comments{
    border: 1px hidden red;
 width: 70%;
    padding-left: 5%;
}
input{
    border: 1px solid lightgrey;
}
select{
    border: 1px solid lightgrey;
    width: 100px;
    border-radius: 5px 5px 5px 5px ;
}
.Myborder-top{
    border-top: 1px hidden red;
    padding: 2%;

    flex: 1;
}
/******************************************FOOTER FORMULAIRE***********************************/

.footer-formulaire{
    width: 100%;
    height: 100px;
    background-color:#2c216f;
    z-index: 1;
    margin-top: 100px;
    color: white;
    font-size: 18px;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;

}
/*****************************************RESPONSIVR*******************************************/
@media screen and (max-width:1000px) {
    .inter-calcul-item{
flex-direction: column;
    }
   .les-champs-de-calcul{
       width: 100%;
   }
    }